body {
  font-family: Helvetica, sans-serif;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body audio {
  display: block;
}

.player {
  display: grid;
  grid-template-columns: [gameBoy-start] 17px repeat(3, 80px) 17px [gameBoy-end];
  grid-template-rows: auto [gameBoy-start] 17px 230px 40px 125px 100px [gameBoy-end] auto;
  grid-template-areas: " . . . . . " " . . . . . " " . Screen Screen Screen . " " . logo logo logo . " " . Cross Tiny Rounded . " " . . . . . " " . . . . . ";
}

.gameBoy-body {
  grid-area: gameBoy;
  box-shadow: inset 3px 3px 0px 0px rgba(255, 255, 255, 0.7);
  border: 5px solid black;
  background-color: #FFE724;
  border-radius: 20px 20px 30% 30%/20px 20px 40px 40px;
}

.Screen {
  background-color: gray;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: Screen;
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.7);
  border: 5px solid black;
  background-color: #595959;
  border-radius: 10px 10px 50% 50%/10px 10px 13% 13%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}
.Screen .innerScreen {
  box-shadow: inset 2px 2px 4px 0px black;
  border: 2px solid black;
  background: #7a8591;
  margin: 20px 36px;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  position: relative;
}
.Screen .innerScreen .cover {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.Screen .innerScreen .cover .progress {
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: hotpink;
  opacity: 0.2;
  border-radius: 7px;
  z-index: 2;
  box-shadow: inset 2px 2px 4px 0px black;
}
.Screen .innerScreen .cover img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  opacity: 0.8;
  box-shadow: inset 2px 2px 4px 0px black;
}

.Cross {
  grid-area: Cross;
  display: flex;
  height: 70px;
  width: 70px;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: 4px;
}
.Cross .vertical-button {
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 22px;
  height: 60px;
  border: 5px solid black;
  background-color: #595959;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}
.Cross .horizontal-button {
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.7);
  position: absolute;
  border-radius: 10px;
  width: 60px;
  height: 22px;
  border: 5px solid black;
  background-color: #595959;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7px;
}
.Cross .square-button {
  position: absolute;
  border-radius: 1px;
  width: 22px;
  height: 35px;
  background-color: #595959;
}

.controls {
  grid-area: Rounded;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}
.controls .playBtn {
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  border: 4px solid black;
  display: flex;
  background-color: #595959;
  justify-content: center;
  align-items: center;
}
.controls .playBtn li {
  background: white;
  background-color: #fff;
}
.controls .otherBtn {
  box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  border: 4px solid black;
  display: flex;
  background-color: #595959;
  justify-content: center;
  align-items: center;
}
.controls .otherBtn li {
  background: white;
  background-color: #fff;
}

.Tiny {
  display: flex;
  flex-flow: row nowrap;
  grid-area: Tiny;
  align-items: flex-end;
  justify-content: space-between;
}
.Tiny .button {
  border-radius: 8px;
  width: 28px;
  height: 6px;
  border: 4px solid black;
  background-color: #595959;
}

/*# sourceMappingURL=main.css.map */
